#root {
  display: flex;
  justify-content: center;
}
.high-scores-wrapper {
  width: 50vw;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-title {
  color: dodgerblue;
}
.high-scores-card {
  min-width: 40vw;
  border: 10px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.card-title {
  color: dodgerblue;
}
.card-row {
  width: 90%;
  border: 1px solid black;

  display: flex;
  /* flex-direction: raw; */
  justify-content: flex-end;
  align-items: center;
}
.score-name {
  margin-right: 200px;
}
.score-point {
  color: purple;
}
